/* nunito-regular - latin */
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/nunito-v25-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("/fonts/nunito-v25-latin-regular.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("/fonts/nunito-v25-latin-regular.woff2")
            format("woff2"),
        /* Super Modern Browsers */ url("/fonts/nunito-v25-latin-regular.woff")
            format("woff"),
        /* Modern Browsers */ url("/fonts/nunito-v25-latin-regular.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("/fonts/nunito-v25-latin-regular.svg#Nunito") format("svg"); /* Legacy iOS */
}

body {
    font-family: "Nunito";
    min-height: 100vh;
    max-height: 100vh;
    scroll-behavior: smooth;
    font-size: medium;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #00aaee #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #00aaee;
    border-radius: 10px;
    border: 3px solid #ffffff;
}
